html {
    font-size: large;
    font-family: 'Comforter', cursive;
    background-color: wheat;
}

h1 {
    color: rgb(34, 34, 104);
    text-align: center;
}

label, input{
    color: darkolivegreen;
    text-align: left;
}

main {
    align-self: center;
    width: 600px;
    margin: 0 auto;
}

